
body {
	font-family: "Lato", sans-serif;
	color: #2d3c49;
	font-weight: 300;
}
@media screen and (min-width: 768px){
	.img-responsive{
		display: inherit;
	}
}
.text-muted {
	color: #bcbbbb;
}
.text-thin {
	font-weight: 100;
}
.title-header {
	font-size: 43px;
	margin-top: 63px;
}
.logo-header {
	margin-top: 20px;
}
hr {
	border-top: 4px solid #7d97ad;
}
